
.primery {
    text-align: center;
    margin: 30px;
    font-size: 1rem;
}
section p {
    color: rgb(199, 93, 93);
    font-size: 0.8rem;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
}
#service{
    display: flex;
    flex-direction: column;
}
section .clint{
    display: flex;
    flex-direction: column;
}